@font-face { font-family: NotoSans; src: url('../fonts/Noto_Sans/NotoSans-Regular.ttf'); }
@font-face { font-family: NotoSansBold; src: url('../fonts/Noto_Sans/NotoSans-Bold.ttf'); }

:root {
    --primary-color: #111224;
    --secondary-color: #ff6600;
}

body{
    background-color: #111224;
    font-family: NotoSans;
    margin: 0;
    padding: 0;
}

.container-fluid {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    overflow: hidden;
}

.container-fluid .container {
    background-color: white;
    height: 100%;
    padding: 0;
    margin: 0;
    border-radius: 30px;
    overflow: hidden;
}

.container-fluid .container .row {
    margin: 0;
    width: 100%;
    height: 100%;
}

.container-fluid .container .row .first-section {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #f6f6f6;
}


.container-fluid .container .row .first-section img {
    width: 80%;
}


.container-fluid .container .row .second-section {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@media screen and (max-width:992px) {
    .container-fluid .container .row .first-section {
        padding: 15px;
        height: unset;
    }
    .container-fluid .container .row .first-section img {
        width: 50%;
    }
    .container-fluid .container .row .second-section {
        height: unset;
    }
}


@media screen and (max-width:576px) {
    .container-fluid {
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        overflow: hidden;
    }
    
    .container-fluid .container {
        background-color: white;
        height: 100%;
        padding: 0;
        margin: 0;
        border-radius: 10px;
        overflow: hidden;
    }
}